<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gamezone</title>
    <link rel="stylesheet" href="css/button.css">
</head>
<body>
    <h1>GAMEZONE🎮</h1>
    <div class="gg">
    <a href="/simons">
        <span></span>
        <span></span>
        <span></span>   
        <span></span>
        1.PLAY SIMONS GAME
    </a>
    <a href="/drum">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        2.PLAY DRUM GAME
    </a>
    <a href="/dice">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        3.PLAY DICE GAME
    </a>
    <a href="/tictac">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        4.PLAY TICTACTOE GAME
    </a>
    </div>
</body>
</html>